<div class="container">
    <div class="text-lead h3 text-center report-title">Overview of aggreagted patient data</div>
    <div class="row chart-labels text-muted">
        <div class="col-md-6 text-center">
            <label class="ml-1" for="patients-illness">A summary of your patients illness's</label>
        </div>
        <div class="col-md-6 text-center">
            <label for="patients-hospital">Patients Age Overview</label>
        </div>
    </div>
    <div class="row charts">
        <div class="col-md-6" id="patients-illness">
            <%= pie_chart  current_user.patients.group(:ailment).count %>
        </div>
         <div class="col-md-6" id="patients-hospital">
            <%= pie_chart  current_user.patients.group(:age).count %>
        </div>
    </div>
    <div class="row chart-labels text-muted">
        <div class="col-md-12 text-center">
            <label for="patients-status">Patients current status</label>
        </div>
        
    </div>
    <div class="row">
        <div class="col-md-12" id="patients-status">
            <%= bar_chart current_user.patients.group(:status).count, colors: ["#8506A9"] %>
        </div>
       
    </div>
  </div>
    
    
    
